<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Index - Testing</title>
</head>
<body>
    <header class="shadow-md "> 
        <div class="flex flex-row">

            <div class="basis-1/3 text-left ml-10">
                <h1>Marca</h1>
            </div>

            <div class="basis-1/3 text-center ">
                <a class="m-4" href="#">Home</a>
                <a class="m-4" href="#">Products</a>
                <a class="m-4" href="#">Blog</a>
                <a class="m-4" href="#">About</a>
            </div>

            <div class="basis-1/3 text-right mr-10">
                botonera
            </div>
        </div>
    </header>
</body>
</html>